In [127]:
import pandas as pd
import numpy as np

In [151]:
df = pd.DataFrame({'Open': [1.20443, 1.20438, 1.20464, 1.20443, 1.20443, 1.2049, 1.20444, 1.20443],
                   'High': [1.20447, 1.20467, 1.20497, 1.20505, 1.20446, 1.20447, 1.20446, 1.20446],
                   'Low':  [1.20429, 1.20436, 1.20464, 1.20439, 1.20429, 1.20441, 1.20350, 1.20439],
                   'Close': [1.20438, 1.20466, 1.20486, 1.20439, 1.20438, 1.20497, 1.20446, 1.20439],
                   'Support': [1.20346, 1.20346, 1.20361, 1.20363, 1.20362, 1.20364, 1.20367, 1.20360],
                   'BR': [False, False, True, False, True, False, True, False]})
df

      BR    Close     High      Low     Open  Support
0  False  1.20438  1.20447  1.20429  1.20443  1.20346
1  False  1.20466  1.20467  1.20436  1.20438  1.20346
2   True  1.20486  1.20497  1.20464  1.20464  1.20361
3  False  1.20439  1.20505  1.20439  1.20443  1.20363
4   True  1.20438  1.20446  1.20429  1.20443  1.20362
5  False  1.20497  1.20447  1.20441  1.20490  1.20364
6   True  1.20446  1.20446  1.20350  1.20444  1.20367
7  False  1.20439  1.20446  1.20439  1.20443  1.20360

In [152]:
df['Support_sft'] = df.Support.shift(1)
df

      BR    Close     High      Low     Open  Support  Support_sft
0  False  1.20438  1.20447  1.20429  1.20443  1.20346          NaN
1  False  1.20466  1.20467  1.20436  1.20438  1.20346      1.20346
2   True  1.20486  1.20497  1.20464  1.20464  1.20361      1.20346
3  False  1.20439  1.20505  1.20439  1.20443  1.20363      1.20361
4   True  1.20438  1.20446  1.20429  1.20443  1.20362      1.20363
5  False  1.20497  1.20447  1.20441  1.20490  1.20364      1.20362
6   True  1.20446  1.20446  1.20350  1.20444  1.20367      1.20364
7  False  1.20439  1.20446  1.20439  1.20443  1.20360      1.20367

In [153]:
np.where(df['BR'] == True)

(array([2, 4, 6], dtype=int64),)

In [154]:
df[(df['BR'] == True)][['BR','Low']]

     BR      Low
2  True  1.20464
4  True  1.20429
6  True  1.20350

In [256]:
ind = np.where(df['BR'] == True)
for i in np.nditer(ind):
    subdf = df.loc[int(i):]
    print(subdf.High[0:1])
    ind2 = np.where(subdf.Low <= subdf.Support_sft)
    ind3 = np.where(subdf.High > 1.20500)
    print('-------')
    try:
        for j in np.nditer(ind2):
            print('PROFIT at index', j)
    except ValueError:
        print('no profit found')
    try:
        for k in np.nditer(ind3):
            print('Loss at index', k)
    except ValueError:
        print('no loss found')
    if j.min() < k.min():
        print('PROFIT')
    if k.min() < j.min():
        print('LOSS')

2    1.20497
Name: High, dtype: float64
-------
PROFIT at index 4
Loss at index 1
LOSS
4    1.20446
Name: High, dtype: float64
-------
PROFIT at index 2
no loss found
LOSS
6    1.20446
Name: High, dtype: float64
-------
PROFIT at index 0
no loss found
PROFIT

In [251]:
def f():
    print(df.High)
    return df.High - df.Low, 'hello'

In [252]:
df['test1'], df['test2'] = f()

0    1.20447
1    1.20467
2    1.20497
3    1.20505
4    1.20446
5    1.20447
6    1.20446
7    1.20446
Name: High, dtype: float64

In [245]:
df

,BR,Close,High,Low,Open,Support,Support_sft,test1,test2
0,False,1.20438,1.20447,1.20429,1.20443,1.20346,NaN,0.00018,hello
1,False,1.20466,1.20467,1.20436,1.20438,1.20346,1.20346,0.00031,hello
2,True,1.20486,1.20497,1.20464,1.20464,1.20361,1.20346,0.00033,hello
3,False,1.20439,1.20505,1.20439,1.20443,1.20363,1.20361,0.00066,hello
4,True,1.20438,1.20446,1.20429,1.20443,1.20362,1.20363,0.00017,hello
5,False,1.20497,1.20447,1.20441,1.20490,1.20364,1.20362,0.00006,hello
6,True,1.20446,1.20446,1.20350,1.20444,1.20367,1.20364,0.00096,hello
7,False,1.20439,1.20446,1.20439,1.20443,1.20360,1.20367,0.00007,hello