In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as DT
from matplotlib import style

style.use('fivethirtyeight')

In [43]:
# 1 minute EURUSD prices
## Work
# m1 = pd.read_csv(
#     'C:/Users/kwilliams/Google Drive/dev/python/projects/DochianChannel/Indicator_Anaylsis/EURUSD1_2015.csv',
#     header=None)
## Home
m1 = pd.read_csv(
    'C:/Users/Kevin/Google Drive/dev/python/projects/DochianChannel/Indicator_Anaylsis/EURUSD1_2015.csv',
    header=None)

In [44]:
m1.columns = ['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Ticks']
m1['DateTime'] = m1['Date'] + ' ' + m1['Time']
m1['DateTime'] = pd.to_datetime(m1['DateTime'],format='%Y.%m.%d %H:%M')
m1['Date'] = pd.to_datetime(m1['Date'],format='%Y.%m.%d')

In [59]:
m1.tail()

,Date,Time,Open,High,Low,Close,Ticks,DateTime,TREND
1009333,2016-01-19,14:50,1.09048,1.09077,1.09036,1.09075,271,2016-01-19 14:50:00,NULL
1009334,2016-01-19,14:51,1.09076,1.09077,1.09040,1.09058,168,2016-01-19 14:51:00,NULL
1009335,2016-01-19,14:52,1.09056,1.09060,1.09007,1.09019,178,2016-01-19 14:52:00,NULL
1009336,2016-01-19,14:53,1.09020,1.09023,1.08987,1.08993,141,2016-01-19 14:53:00,NULL
1009337,2016-01-19,14:54,1.08992,1.08997,1.08947,1.08968,189,2016-01-19 14:54:00,NULL

In [28]:
m1.set_index(['Date'], inplace=True)

# Create Trend Ranges, based on visual inspection of previous graph, and add Trends to Order dataframe
trend_range = [0, 6, 33, 60, 77, 86, 150, 171, 207, 222, 271, 314, 331, 348]
trend_labels = ['UP1', 'FLAT1', 'DOWN1', 'UP2', 'DOWN2', 'FLAT2', 'DOWN3', 'UP3', 'DOWN4', 'UP4', 
               'DOWN5', 'UP6', 'FLAT3']

#Categorize order dataframe based on trend ranges
df_ord['Trend'] = pd.cut(df_ord.Ticket, trend_range, labels=trend_labels).astype('category')

In [50]:
trend_range = np.array([DT.datetime(2014,6,20),
                        DT.datetime(2015,7,1,),
                        DT.datetime(2015,10,1)])
trend_labels = ['UP1', 'FLAT1', 'DOWN1']
trend_range[0]

datetime.datetime(2014, 6, 20, 0, 0)

In [56]:
def trend(item):
    tr = 'NULL'
    if trend_range[0] < item <= trend_range[1]:
        tr = 'ONE'
    if trend_range[1] < item <= trend_range[2]:
        tr = 'TWO'
    return tr

In [57]:
m1['TREND'] = list(map(trend, m1['Date']))

In [76]:
#m1.groupby('Date' == '2014').count()
m1.groupby('TREND').count()

         Date    Time    Open    High     Low   Close   Ticks  DateTime
TREND
NULL   537151  537151  537151  537151  537151  537151  537151    537151
ONE    377259  377259  377259  377259  377259  377259  377259    377259
TWO     94928   94928   94928   94928   94928   94928   94928     94928